<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220480348179-qbv8qv21r6jf0g65njk53190hrv33du8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220480348179-qbv8qv21r6jf0g65njk53190hrv33du8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220480348179-p7jlk2t16a1qkk10g99l8qd90npieqpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5grJ7N1phRXirWL85SolhzEq83iQaY64</string>
	<key>GCM_SENDER_ID</key>
	<string>220480348179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimiiservicios.proveedor</string>
	<key>PROJECT_ID</key>
	<string>kimiiservicios</string>
	<key>STORAGE_BUCKET</key>
	<string>kimiiservicios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220480348179:ios:bc4e92087c4fe21e841fe6</string>
	<key>DATABASE_URL</key>
	<string>https://kimiiservicios.firebaseio.com</string>
</dict>
</plist>